# Project
.project
.settings
.vscode
.history

# Executable
golang-sqlite
golang-sqlite.exe

# mac crap
.DS_Store

# livereload helper
gin-bin

# Logs
logs

*.log

# Runtime data
pids
*.pid
*.seed

# SSL/TLS
server.crt
server.key

# JSON Files
*.json

*.db